/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* VARIABLES */
:root {
    /* background-colors */
    --blue: #0084fd;
    --lightblue: #b5ddff;
    --lavanda: #9792e4;
    --yellow: #9792e4;
    --grey: #333333;
}

/* COMMON */
html {
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}

.container {
    width: 95%;
    margin: 0 auto;
}

/* HEADER */
/* Mobile-First Layout (320px) */
header {
    background-color: var(--blue);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    color: white;
}

.menu {
    display: none;
}

/* MEDIA QUERY */
/* Layout for Desktop (992px) */

/* COMMON */
@media screen and (min-width: 992px) {
    .container {
        width: 70%;
    }

    /* HEADER */
    .container i {
        display: none;
    }


}
