/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* VARIABLES */
:root {
    /* background-colors */
    --blue: #0084fd;
    --lightblue: #b5ddff;
    --lavanda: #9792e4;
    --yellow: #9792e4;
    --grey: #333333;

    /* Spaces */
    --margin: 1.5rem;
    --padding: 1.5rem .5rem;
}

/* COMMON */
html {
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

.center {
    text-align: center;
}

.circle {
    border-radius: 50%;
}

/* HEADER */
/* Mobile-First Layout (320px) */
header {
    background-color: var(--blue);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    color: white;
}

.menu {
    display: none;
}

/* MAIN */
.about-us {
    display: flex;
    padding: var(--padding);
}

.about-us .cards {
    background-color: var(--lightblue);
    margin-bottom: var(--margin);
    border-radius: 10px;

    /* DEBUG */
    border: 1px solid black;
}

.about-us .cards .text-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Planning-Section */
.planning-section {
    background-color: var(--lavanda);
    padding: var(--padding);
}

.planning-section .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.planning-section .cards:first-child h2{
    color: white;
    font-size: 1.7rem;
    padding: 1.5rem 0;
 }

.planning-section .cards:first-child p{
    color: white;
    font-size: .8rem;
    padding: 1.5rem 0;
 }

.planning-section .cards:nth-child(2) {
    background-color: white;
    border-radius: 50px;
    text-align: center;
 }

.planning-section .cards:nth-child(2) .text-content {
    padding: var(--padding)
}

/* Testimonials-Section */ 
.testimonials {
    margin: 3rem 0;
}

.testimonials .center h1{
    color: var(--lavanda)
}

.testimonials .cards {
    background-color: var(--lavanda);
    border-radius: 40px;
}

.testimonials .text-content {
    color: white;
    padding: var(--padding);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Benefits-Section */
.benefits {
    background-color: var(--lavanda);
    padding: var(--padding);
}

.benefits h1 {
    color: white;
}

.benefits .cards {
    background-color: white;
    border-radius: 10px;
    margin-bottom: var(--margin);
}

.benefits .cards-content span, h3{
    color: var(--lavanda)
}

.benefits .cards-content {
    padding: var(--padding)
}

/* MEDIA QUERY */
/* Layout for Tablet (768px) */
@media screen and (min-width: 768px) {
    /* MAIN */
    /* About-Us section */
    .about-us .cards {
        width: calc(90% / 3);
    }

    .about-us .cards:first-child {
        width: calc(98% / 3 * 2);
    }

    .about-us .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* Testimonials-Section */
    .testimonials .cards {
        display: flex;
        align-items: center;
        margin-bottom: var(--margin);
    }

    /* Benefits-Section */
    .benefits h1 {
        text-align: center;
    }

    .benefits .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits .cards {
        width: calc(95% / 2);
    }
}

/* Layout for Desktop (992px) */

/* COMMON */
@media screen and (min-width: 992px) {
    .container {
        width: 70%;
    }

    /* HEADER */
    .container i {
        display: none;
    }

    .menu {
        display: flex;
    }

    .menu ul {
        display: flex;
    }

    .menu ul li {
        padding: 0 .5rem;
    }
    /* /HEADER */

    /* MAIN */
    /* About-Us Section */
    .about-us .cards:first-child {
        display: flex;
    }

    /* Planning-Section */
    .planning-section .container {
        width: 50%;
    }
    
    .planning-section .row {
        margin: 2rem 0;
        display: flex;
    }

    .planning-section .cards {
        width: calc(100% / 2)
    }

    /* Benefits-Section */
    .benefits .cards {
        width: calc(95% / 3);
    }
}
