/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* VARIABLES */
:root {
    /* background-colors */
    --blue: #0084fd;
    --lightblue: #b5ddff;
    --lavanda: #9792e4;
    --yellow: #9792e4;
    --grey: #333333;

    /* Spaces */
    --margin: 1.5rem;
    --padding: 1.5rem .5rem;
}

/* COMMON */
html {
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

.center {
    text-align: center;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Buttons */
.btn {
    border-radius: 20px;
    border: none;
}

.get-started {
    padding: .7rem 1rem .4rem;
}

.apple-btn {
    color: white;
    background-color: var(--blue);
    padding: .5rem 2rem;
    margin-bottom: 1.5rem;
}

.arrow-btn {
    background-color: var(--lavanda);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 1.2rem;
    margin-top: 1rem;
}

/* HEADER */
/* Mobile-First Layout (320px) */
header {
    background-color: var(--blue);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    color: white;
}

.menu {
    display: none;
}

/* MAIN */
.about-us {
    display: flex;
    padding: var(--padding);
}

.about-us .cards {
    background-color: var(--lightblue);
    margin-bottom: var(--margin);
    border-radius: 10px;
    padding: 1.5rem 1.5rem 0;
}

.about-us h3 {
    color: var(--blue);
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.about-us p {
    color: #5a6e7f;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.about-us button {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.about-us .cards:not(:first-child){
    text-align: center;
    padding-bottom: 1.5rem;
}

.about-us .cards:not(:first-child) i {
    font-size: 5rem;
    color: var(--blue);
    margin-bottom: 1.5rem;
}

.about-us .cards:not(:first-child) h2 {
    color: var(--blue);
    margin-bottom: 1.5rem;
}

.about-us .img-content img {
    display: block;
}

/* Planning-Section */
.planning-section {
    background-color: var(--lavanda);
    padding: 3rem .5rem;
}

.planning-section .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.planning-section .cards:first-child h2{
    color: white;
    font-size: 1.7rem;
    padding: 1.5rem 0;
 }

.planning-section .cards:first-child p{
    color: white;
    padding: 1.5rem 0;
 }

.planning-section .cards:nth-child(2) {
    background-color: white;
    border-radius: 50px;
    text-align: center;
 }

.planning-section .cards:nth-child(2) .text-content {
    padding: var(--padding)
}

.planning-section .cards:nth-child(2) {
    padding: 1rem .5rem;
}

.planning-section .cards:nth-child(2) h3{
    margin-bottom: 1rem;
}

/* Testimonials-Section */ 
.testimonials {
    margin: 3rem 0;
}

.testimonials .center h1{
    color: var(--lavanda);
    font-size: 2rem;
    margin: 1rem 0;
}

.testimonials .center p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.testimonials .cards {
    background-color: var(--lavanda);
    border-radius: 40px;
    margin-bottom: var(--margin);
    text-align: center;
    padding: var(--padding);
}

.testimonials .text-content {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonials .text-content p {
    margin-bottom: 1rem;
}

.circle {
    background-size: cover;
    background-position: center;
    margin-left: 25%;
}

.testimonials .photo-1 {
    background-image: url(../img/testimonial1.jpg);
}

.testimonials .cards:nth-child(2) .photo-2 {
    background-image: url(../img/testimonial2.jpg);
}

.testimonials .cards:nth-child(3) .photo-3 {
    background-image: url(../img/testimonial3.jpg);
}

/* Benefits-Section */
.benefits {
    background-color: var(--lavanda);
    padding: var(--padding);
}

.benefits h1 {
    color: white;
}

.benefits .cards {
    background-color: white;
    border-radius: 10px;
    margin-bottom: var(--margin);
}

.benefits .cards-content span, .benefits h3{
    color: var(--lavanda)
}

.benefits .cards-content {
    padding: var(--padding)
}

/* About-Us Second Section */
.about-us-second {
    margin: 3rem 0;
}

.about-us-second h1 {
    color: var(--lavanda);
    font-size: 2.4rem;
}

.about-us-second .cards p {
    margin-top: 1rem;
}

.about-us-second .circle {
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: center;
}

/* Call-To-Action section */
.call-to-action {
    background-color: var(--lavanda);
}

.call-to-action ul {
    display: flex;
    justify-content: center;
}

/* FOOTER */
footer {
    background-color: var(--grey);
}

/* MEDIA QUERY */
/* Layout for Tablet (768px) */
@media screen and (min-width: 768px) {
    /* MAIN */
    /* About-Us section */
    .about-us .cards {
        width: calc(90% / 3);
    }

    .about-us .cards:first-child {
        width: calc(98% / 3 * 2);
    }

    .about-us .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .about-us .cards:nth-child(1) .img-content {
        width: 250px;
        height: 250px;
    }
    
    /* Planning-Section */
    #strategic {
        font-size: 3rem;
    }

    /* Testimonials-Section */
    .testimonials .container {
        width: 80%;
    }

    .testimonials .cards {
        display: flex;
        align-items: center;
    }

    .testimonials .circle {
        margin-left: 0;
    }

    .testimonials .img-content {
        width: 30%;
    }
    
    .testimonials .text-content {
        width: 70%;
        display: flex;
        justify-content: flex-start;
        text-align: start;
    }

    /* Benefits-Section */
    .benefits h1 {
        text-align: center;
    }

    .benefits .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits .cards {
        width: calc(95% / 2);
    }

    /* About-Us-Second-Section */
    .about-us-second .row {
        display: flex;
    }

    .about-us-second .cards:first-child {
        width: 60%;
    }

    .about-us-second .cards:last-child {
        width: 40%;
    }

    /* Call-To-Action Section */
    .call-to-action .container {
        width: 70%;
    }

    /* Footer */
    footer .container {
        width: 70%;
    }

/* Layout for Desktop (992px) */

/* COMMON */
@media screen and (min-width: 992px) {
    .container {
        width: 70%;
    }

    /* HEADER */
    header .container i {
        display: none;
    }

    .menu {
        display: flex;
    }

    .menu ul {
        display: flex;
        align-items: center;
    }

    .menu ul li {
        padding: 0 .5rem;
        font-size: 1.2rem;
    }

    .menu button {
        font-size: 1rem;
    }

    /* /HEADER */

    /* MAIN */
    /* About-Us Section */
    .about-us .cards:first-child {
        display: flex;
    }

    .about-us .cards:first-child .text-content {
        width: 50%;
    }

    .about-us .cards:first-child .img-content {
        width: 50%;
    }

    /* Planning-Section */
    .planning-section .container {
        width: 50%;
    }
    
    .planning-section .row {
        margin: 2rem 0;
        display: flex;
    }

    .planning-section .cards:first-child {
        width: 60%;
    }

    .planning-section .cards:nth-child(2) {
        width: 40%;
        height: 30%;
        display: flex;
        align-self: flex-end;
    }
    
    .planning-section .cards:first-child .img-content {
        width: 100%;
    }

    #strategic {
        font-size: 2rem;
    }

    /* Benefits-Section */
    .benefits .cards {
        width: calc(95% / 3);
    }

    /* Call-To-Action Section */
    .call-to-action .container {
        width: 40%;
    }

    /* Footer */
    footer .container {
        width: 40%;
    }
}